* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* Common */
.content {
    width: 1170px;
    max-width: calc(100% - 50px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    min-width: 180px;
    padding: 13px 11px;
    text-align: center;
    border-radius: 24.5px;
    background: #171100;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.btn:hover {
    background-color: #ffb900;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 20px 0 16px;
    background: #fffcf4;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    margin-left: auto;
}

.navbar li a {
    position: relative;
    color: #5f5b53;
    padding: 8px 21px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.navbar li a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.navbar li a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.navbar .action-link {
    margin-left: 70px;
}

.navbar .btn-action {
    min-width: 144px;
    padding: 14px 40px;
}

/* Main */
.main {
    background: #fffcf4;
    padding: 64px 0 65px;
}

.main .home {
    display: flex;
    justify-content: space-between;
}

.main .image {
    position: relative;
}

.main .home-img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.main .image .wrap {
    position: absolute;
    bottom: 48px;
    left: 300px;
    width: 270px;
    padding: 24px 36px;
    min-height: 244px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.main .image .info-coures {
    display: flex;
    align-items: center;
    gap: 16px;
}

.main .image .course {
    margin-top: 14px;
}

.main .info-coures .text {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.main .info-coures .desc {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.main .home-info {
    width: 470px;
    margin-top: 64px;
}

.main .home-info .title {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 6px;
}

.main .home-info .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.main .home-action {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 28px;
}

.main .home-action .icon {
    width: 40px;
    height: 40px;
}

.main .home-action .btn-home {
    min-width: 180px;
    padding: 18px 11px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 32px;
    background: #ffb900;
}

.main .home-action .btn-home:hover {
    background-color: #171100;
}

.main .home-action span {
    margin-left: -18px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.main .home-bottom {
    margin-top: 48px;
}

.main .home-bottom .desc-bottom {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.main .home-bottom .finish {
    display: flex;
    gap: 28px;
}

.main .value {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.main .value .number {
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22;
}

.main .value .pre {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

/* Courses */
.Courses {
    margin-top: 200px;
}

.Courses-section .row-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Courses-section .sub-title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.36;
    letter-spacing: -0.76px;
}

.Courses-section .desc {
    width: 458px;
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.Courses-section .arrow {
    display: flex;
    gap: 18px;
}

.Courses-section .control {
    color: #ffb900;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ffb900;
    border-radius: 50%;
    background: transparent;
}

.Courses-section .control:hover {
    color: #fff;
    background-color: #ffb900;
    cursor: pointer;
}

.row-body {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.row-body .body {
    width: 370px;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.row-body .body .image {
    width: 370px;
    height: 278px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}

.row-body .Courses-info {
    padding: 16px 22px 32px;
}

.courses-row {
    display: flex;
    justify-content: space-between;
}

.courses-row .rating .icon {
    margin-top: -2px;
    width: 18px;
    height: 18px;
}

.courses-row .rating .hightlight-number {
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
}

.row-body .Courses-info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.row-body .Courses-info .desc {
    margin-top: 8px;
    width: 326px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.row-body .row-bottom {
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-body .row-bottom .btn-Courses {
    min-width: 118px;
    padding: 11px;
    border-radius: 25px;
    font-size: 1.4rem;
    font-weight: 600;
}

.row-body .row-bottom .number {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

/* Quote */
.quote {
    margin-top: 200px;
    min-height: 380px;
    padding: 96px 135px;
    background: #2e2100;
}

.blockquote {
    display: flex;
    justify-content: space-between;
}

.blockquote .author .ava {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 72px;
}

.blockquote .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
}

.blockquote .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.blockquote .more {
    margin-top: 28px;
}

.blockquote .caption {
    position: relative;
}

.blockquote .cap {
    position: absolute;
    top: -24px;
    left: -30px;
}

.quote .caption .desc {
    width: 740px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53;
}

/* Sign */
.sign {
    margin-top: 200px;
}

.sign-section {
    display: flex;
    justify-content: space-between;
}

.sign .two-img {
    display: flex;
    gap: 30px;
}

.sign .img-1,
.sign .img-2 {
    width: 270px;
    height: 405px;
    border-radius: 16px;
    object-fit: cover;
}

.sign .img-1 {
    margin-top: 34px;
}

.sign-info .sub-title {
    width: 470px;
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.sign-info .desc,
.sign-info .year {
    width: 458px;
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.sign-info .btn-sign {
    display: inline-block;
    margin-top: 32px;
    min-width: 137px;
    padding: 11px 10px;
    border-radius: 26px;
    background: #ffb900;
}

.sign-info .btn-sign:hover {
    background: #171100;
}

/* Join */
.join {
    margin-top: 200px;
}

.join-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.join-section .join-info {
    width: 570px;
}

.join-info .sub-title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.join-info .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.join-info .btn-join {
    min-width: 137px;
    padding: 11px 10px;
    display: inline-block;
    margin-top: 32px;
    background: #ffb900;
}

.join-info .btn-join:hover {
    background: #171100;
}

.join-img .image {
    width: 470px;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
}

/* Blog */
.blog {
    margin-top: 200px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog-header .sub-title {
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
}

.blog-header .desc {
    width: 448px;
    margin: 16px auto 0;
    color: #696262;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.blog-body {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.blog-info {
    width: 370px;
}

.blog-info .image {
    width: 370px;
    height: 330px;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}

.blog-section {
    padding: 20px 20px 28px;
}

.blog-section .year {
    display: flex;
    align-items: center;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.blog-section .year::before {
    margin-right: 4px;
    width: 6px;
    height: 6px;
    content: "";
    display: inline-block;
    border-radius: 50%;
    background-color: #ffb900;
}

.blog-section .sperated {
    margin-top: 12px;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog-section .desc {
    width: 330px;
    margin-top: 12px;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.blog-section .btn {
    display: inline-block;
    padding: 11px 10px;
    margin-top: 12px;
    min-width: 118px;
    border-radius: 25px;
    background: #171100;
}

.blog-section .btn:hover {
    background: #ffb900;
}

.blog .more {
    margin-top: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
.footer {
    padding: 96px 0 28px 0;
    background: #2e2100;
}
.footer .row-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #59554b;
}

.footer .row-top .desc {
    width: 267px;
    margin-top: 18px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.footer .social-list {
    margin-top: 18px;
    display: flex;
    gap: 18px;
}

.footer .social-list .icon:hover {
    opacity: 0.6;
}

.footer .heading-lv3 {
    margin-bottom: 31px;
    position: relative;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.footer .heading-lv3::after {
    position: absolute;
    content: "";
    bottom: -14px;
    left: 0;
    display: inline-block;
    width: 130px;
    height: 1px;
    background: #59554b;
}

.footer .col {
    margin-bottom: 38px;
}

.footer .col:first-child {
    width: 35%;
}

.footer .col:nth-child(2) {
    width: 22%;
}

.footer .col:nth-child(3) {
    width: 22%;
}

.footer .col:nth-child(4) {
    width: 19.7%;
}

.footer .col .list a {
    display: inline-block;
    margin-top: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.footer .info {
    padding-top: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .copy {
    margin-top: 28px;
    color: #807d74;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}
